html {
	height: 100%;
	width: 100%;
}

body {
	margin: 0px;
}

.container {
	border: 0px;
}

div.elem {
	border: solid 1px black;
	
	min-height: fit-content;
	clear: both;
	padding: 10px;
}

p {
	margin: 5px;
	word-break: break-word;
}

img {
	border: 1px solid black;
	padding: 3px;
	border-radius: 4px;
	max-width: 100%;
	max-height: 100%;
}

.nerfed {
	height: auto;
	width: 200px;
}

#b1 {
	display: flex;
	flex-direction: column;

	justify-content: stretch;
}

#a1 {
	display: flex;
	flex-direction: row;

	min-height: 100px;
	min-width: 100px;

	background-color: coral;

	align-items: center;
	justify-content: space-between;
	font-size: 24px;

}

#a7 {
	display: flex;
	justify-content: space-between;

	min-height: 100px;
	min-width: 100px;

	background-color: palegoldenrod;

	align-items: center;
	font-size: 11px;
}

#b2 {
	display: flex;
	flex-direction: row;

	min-height: 500px;

	flex-direction: row;
}

#a4 {
	display: flex;
	flex-direction: column;

	min-height: 100px;
	min-width: 25%;
	width: 25%;

	background-color: yellowgreen;

	justify-content: center;
	align-items: center;
	font-size: 14px;
}

#b3 {
	display: flex;
	flex-direction: column;
	min-width: 25%;
	width: 25%;
}

#a2 {
	display:  flex;

	min-height: 50px;

	background-color: palevioletred;

	justify-content: center;
	align-items: center;
}

#a5 {
	display: flex;
	flex-direction: column;

	flex-grow: 1;
	min-height: 100px;

	background-color: lightblue;

	justify-content: center;
	align-items: flex-start;
}

nav {
	display: flex;
	flex-direction: column;

	word-break: break-all;
	align-items: left;
	justify-content: center;
}

#b4 {
	display: flex;
	flex-direction: column;

	flex-grow: 1;
	min-width: 50%px;
}

#a3 {
	display: flex;
	flex-direction: column;

	flex-grow: 1;
	min-height: 100px;
	min-width: 100px;

	background-color: darkseagreen;

	justify-content: flex-start;
	text-align: justify;
}

#a6 {
	display: flex;

	min-height: 50px;
	min-width: 100px;

	background-color: blueviolet;

	justify-content: center;
	align-items: center;
}

#boxX, #boxY {
	background: whitesmoke;
	font-size: 14px;
}

#textX {
	font-size: 12px;
	text-align: center;
}

#textY {
	font-size: 12px;
	text-align: left;
}

.t4_1, #t2 {
	text-align: center;
}

.one_list {
	max-width: fit-content;
	max-height: fit-content;
	padding: 1%;
}